
@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-arrow.slick-prev {
  margin-left: 12%;
  z-index: 2;
}


.slick-arrow.slick-next {
  margin-right: 12%;
  z-index: 2;
}

.slick-arrow.slick-next,.slick-arrow.slick-prev {
  display: none !important;

}

@media  (max-width:767px) {
  .slick-slider{
    width: 75vw !important;
  }
}

@media (min-width:768px) {
  .card_content:hover .slick-arrow.slick-next,.card_content:hover .slick-arrow.slick-prev {
    display: block !important;
  }
}